.header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 70vh;
}
.header .menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .menu .menu-icono {
  width: 30px;
}
.header .menu label {
  cursor: pointer;
  display: none;
}
.header .menu .logo {
  color: white;
}
.header .menu .navbar {
  opacity: 80%;
}
.header .menu .navbar ul li {
  position: relative;
  float: left;
}
.header .menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: white;
  display: block;
  font-weight: 600;
}
.header .menu .navbar ul li a:hover {
  color: #dab200;
}
.header .menu #menu {
  display: none;
}
.header .menu #menu .menu-icono {
  width: 25px;
}
.header .menu .submenu {
  position: relative;
}
.header .menu .submenu #carrito {
  display: none;
}
.header .menu .submenu #carrito table {
  width: 100%;
}
.header .menu .submenu #carrito table th, .header .menu .submenu #carrito table td {
  color: white;
}
.header .menu .submenu #carrito .borrar {
  background-color: #dab200;
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  font-weight: 800;
}
.header .menu .submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: gray;
  border-radius: 30px;
  padding: 20px;
  min-width: 400px;
}
.header .header-txt {
  padding: 0 200px;
  text-align: center;
}
.header .header-txt h1 {
  font-size: 70px;
  line-height: 80px;
  color: #dab200;
  margin-bottom: 20px;
}
.header .header-txt p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.footer .link {
  display: block;
}
.footer .link h3 {
  color: #dab200;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer .link a {
  font-size: 16px;
  color: #ECEBEB;
  margin-bottom: 10px;
  display: block;
  transition: color 1s;
}
.footer .link a:hover {
  color: #dab200;
}

.header-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(/images/bg.jpg);
}

.header-productos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(/images/bg-productos.jpg);
}

.header-contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(/images/bg-contacto.jpg);
}

.header-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(/images/bg-contacto.jpg);
}

@media (max-width: 991px) {
  .header {
    min-height: 0vh;
  }
  .header .menu {
    padding: 20px;
  }
  .header .menu .logo {
    display: none;
  }
  .header .menu label {
    display: initial;
  }
  .header .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2D343C;
    display: none;
  }
  .header .menu .navbar ul li {
    width: 100%;
  }
  .header .header-content {
    padding: 100px 30px;
    min-width: 320px;
  }
  .header .header-content .header-txt {
    padding: 0;
    max-width: 500px;
    min-width: 300px;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .header .header-txt {
    padding: 0 0 0 0;
    display: grid;
    flex-direction: column;
    align-content: center;
    min-width: 300px;
  }
  .header .header-txt h1 {
    font-size: 50px;
    line-height: 80px;
    color: #dab200;
    margin: 20px 0 20px 0;
    width: 100%;
    line-height: 0.8;
    text-align: center;
  }
  .header .header-txt p {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .header .navbar .inicio {
    display: none;
  }
}
.btn-1 {
  display: inline-block;
  background-color: #dab200;
  color: white;
  padding: 13px 35px;
  border-radius: 30px;
  text-transform: capitalize;
}
.btn-1:hover {
  background-color: #8a00da;
}

.btn-1-verde {
  display: inline-block;
  background-color: #dab200;
  color: white;
  padding: 13px 35px;
  border-radius: 30px;
  text-transform: capitalize;
}
.btn-1-verde:hover {
  background-color: #00da12;
}

.btn-2 {
  display: inline-block;
  padding: 8px 17px;
  margin: 20px 0 0 0;
  border-radius: 30px;
  background-color: #8a00da;
  color: white;
  transition: background-color 1s;
}
.btn-2:hover {
  background-color: #c35aff;
}

hr {
  width: 100%;
  border: 2px solid #dab200;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.aviso-index {
  display: grid;
  margin: 0 auto;
  width: 100%;
}
.aviso-index .aviso-index-txt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  text-align: center;
}
.aviso-index .aviso-index-txt h2 {
  color: white;
}
.aviso-index .aviso-index-txt h3 {
  color: white;
}
.aviso-index .aviso-index-txt a {
  text-decoration: none;
  color: #dab200;
}
.aviso-index .aviso-index-txt a:hover {
  color: #dea5ff;
}

.producciones {
  margin: 0 auto;
  width: 100%;
}
.producciones h2 {
  color: #dab200;
  text-align: center;
}
.producciones .producciones-iframes {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 374px) {
  .producciones {
    display: none;
  }
}
.products {
  padding: 70px 0 0 0;
  text-align: center;
  margin-bottom: 20px;
}
.products h2 {
  color: #dab200;
  font-size: 35px;
  margin-bottom: 35px;
}
.products img {
  width: 250px;
  justify-self: center;
  align-self: center;
}
.products .products-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
.products .products-content .product {
  display: grid;
  transition: background-color 1s;
  width: 80%;
  border-radius: 30px;
  justify-content: center;
  padding: 40px;
}
.products .products-content .product:hover {
  background-color: #575757;
}
.products .products-content .product .product-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products .products-content .product h3 {
  font-size: 20px;
  color: white;
  margin: 15px 0 15px 0;
}
.products .products-content .product .product-txt-parrafo {
  font-size: 16px;
  color: white;
  margin-bottom: 15px;
}
.products .products-content .product ul li {
  font-size: 16px;
  color: white;
}
.products .products-content .product .precio {
  color: #dab200;
  font-size: 20px;
  margin: 15px 0 15px 0;
  font-weight: bold;
}

@media (max-width: 991px) {
  .products {
    padding: 30px;
  }
  .products .products-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services {
  margin: 0 0 0 0;
  padding: 70px 0;
  background-color: #EBEFF1;
  text-align: center;
}
.services h2 {
  color: #2D343C;
  margin: 0 0 40px 0;
}
.services h3 {
  font-size: 0px;
  color: #2D343C;
  margin: 20px 0 20px 0;
}
.services .service {
  background-image: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 35px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.services .service .services-content {
  padding: 20px 0 20px 0;
}
.services .service p {
  font-size: 16px;
  color: #575757;
  margin: 20px 0 0 30px;
}
.services .service img {
  width: 250px;
  min-width: 200px;
  min-height: 50px;
}

@media (max-width: 991px) {
  .services {
    padding: 30px;
    margin: 0;
  }
  .services .services-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.nosotros-despedida {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 300px;
  max-width: 1000px;
}
.nosotros-despedida .nosotros-despedida-txt {
  display: grid;
  width: 100%;
  text-align: center;
}
.nosotros-despedida .nosotros-despedida-txt h2 {
  text-align: center;
  color: #dab200;
}
.nosotros-despedida .nosotros-despedida-txt h3 {
  text-align: center;
  color: #dab200;
}
.nosotros-despedida .nosotros-despedida-txt p {
  margin: 30px 0 0 0;
  color: white;
  font-size: 14px;
  width: 100%;
  align-self: center;
}

@media (max-width: 991px) {
  .nosotros-despedida {
    min-height: 0vh;
  }
  .nosotros-despedida .menu {
    padding: 20px;
  }
  .nosotros-despedida .menu .logo {
    display: none;
  }
  .nosotros-despedida .menu label {
    display: initial;
  }
  .nosotros-despedida .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2D343C;
    display: none;
  }
  .nosotros-despedida .menu .navbar ul li {
    width: 100%;
  }
  .nosotros-despedida .header-content {
    padding: 100px 30px;
  }
  .nosotros-despedida .header-content .header-txt {
    padding: 0;
    max-width: 500px;
    min-width: 300px;
  }
}
.contacto__formulario {
  padding: 20px;
  z-index: 1;
  display: grid;
  flex-direction: column;
  justify-self: center;
  border-radius: 8px;
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  background-color: #2D343C;
}
.contacto__formulario .form-item {
  display: flex;
  flex-direction: column;
}
.contacto__formulario .form-item label {
  font-weight: bold;
  margin-bottom: 5px;
}
.contacto__formulario .form-item input, .contacto__formulario .form-item textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contacto__formulario h2 {
  text-align: center;
  color: #dab200;
  margin: 10px 0 20px 0;
}
.contacto__formulario form {
  display: grid;
  gap: 10px;
  color: white;
}
.contacto__formulario form button {
  background-color: #dab200;
  color: #000000;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.contacto__formulario form button:hover {
  background-color: #af8000;
}

/*# sourceMappingURL=styles.css.map */
