//Colores
$color-principal:#ffba00;
$color-tercero:#91007d;
$c-principal :#ffba00;
$c-principal-opaco: #af8000;
$c-blanco2 : #EBEFF1;
$c-plomoletras: #2D343C;

$gradiente-colorida: linear-gradient(to right, #8a00da,#2e0808,#da00ae);
$sombra:0 10px 13px rgba(0, 0, 0, 0.3);

$fuente-arvo: 'Arvo', serif;

// HEADERS( LOGO - MENU - CARRITO) Y FOOTER

.header {
    //DATOS BACKGROUND FONDO + ABAJO
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
    flex-wrap: wrap;
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .menu-icono{
            width: 30px;
        }
        label {
            cursor: pointer;
            display: none;
        }
        
        .logo { 
            color: white;
        }
        
        .navbar {
            opacity: 80%;
            ul li {
                position: relative;
                float: left;
                a {
                    font-size: 18px;
                    padding: 20px;
                    color: white;
                    display: block;
                    font-weight: 600;
                    &:hover {

                        color: #dab200;
                    }
                }
            }

        }
        
        #menu {
            display: none;
            .menu-icono {
                width: 25px;
            }
        }

        //CARRITO
        .submenu {
            position: relative;

            #carrito {
              display: none;

              table {
                width: 100%;
                th, td {
                    color: white;
                }
              }
              .borrar {
                background-color: #dab200;
                border-radius: 50%;
                padding: 5px 10px;
                color: white;
                font-weight: 800;
               }
            }
            &:hover #carrito {
              display: block;
              position: absolute;
              right: 0;
              backdrop-filter: blur(10px);
              top: 100%;
              z-index: 1;
              background-color: gray;
              border-radius: 30px;
              padding: 20px;
              min-width: 400px;
            }
            
        }
    }
    .header-txt {
        margin: 100px 0 40px 0;
        text-align: center;
        h1 {
            font-size: 70px;
            line-height: 80px;
            color: #dab200;  
        }
        h2 {
            font-size: 40px;
            line-height: 80px;
            color: #dab200; 
        }
        p {
            margin-top: 20px;
            font-size: 16px;
            color: white;
            margin-bottom: 20px;
        }
    }
    //SOLO EN INDEX
    .formulario__datos {
        display: grid;
        width: 100%;
        padding: 0 0 40px 0;
    
        
        .formulario__datos__1 {
          display: grid;
          background-color:$color-principal;
          padding: 20px;
          border-radius: 8px;
          box-shadow:$sombra;
          width: 300px;
          justify-self: center;
          flex-direction: wrap;
          label {
            display: block;
            margin-bottom: 8px;
            font-family: $fuente-arvo;
          }
          input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
          button {
            background-color: $color-tercero;
            color: #fff;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            transition: backgroud-color 1s, color 1s;
              &:hover {
                background-color: $color-principal;
                color: $color-tercero;
              }
          }
          .formulario__datos__mensaje {
            display: flex;
            flex-direction: row;
            justify-self: center;
            flex-wrap: wrap;
            text-align: center;
            font-size: 20px;
            width: 90%;
            font-family: 'Open Sans', serif;
          }
        }
    } 
}


@media (max-width:600px) {
    
}
.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    .link {
        display: block;
        
    }
    .link h3 {
        color: $c-principal;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .link a {
        font-size: 16px;
        color: #ECEBEB;
        margin-bottom: 10px;
        display: block;
        transition: color 1s;
        &:hover {
            color: #dab200;
        }
    }
}
//Fondos Headers
.header-index {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(/images/bg.jpg);
}
.header-productos {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(/images/bg-productos.jpg);
}
.header-contacto {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(/images/bg-contacto.jpg);
}
.header-nosotros {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(/images/bg-contacto.jpg);
}

@media(max-width:991px){
    .header{
        min-height: 0vh;
        .menu {
            padding: 20px;
            .logo {
                display: none;
            }
            label {
                display: initial;
            }
            .navbar {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: #2D343C;
                display: none;
                ul li {
                    width: 100%;
                }
            }

        }
        .header-content{

            padding: 100px 30px;
            min-width: 320px;
            

            .header-txt {

                padding: 0;
                max-width: 500px;
                min-width: 300px;
            }
        }
        
    }
    #menu:checked ~ .navbar {
        display: initial;
    }

    .footer{
        flex-direction: column;
        text-align: center;
    }    
}
@media(max-width:500px){
    .header {
        
        .header-txt {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            display: grid;
            flex-direction: column;
            align-content: center;
            min-width: 300px;

            h1 {
                font-size: 50px;
                line-height: 80px;
                color: #dab200;
                margin: 20px 0 0 0;
                width: 100%;
                line-height: 0.8;
                text-align: center;
            }
            h2 {
                font-size: 30px;
                color: #dab200;
                margin-top: 0;
                margin-bottom: 20px;  
            }
            p {
                width: 100%;
                text-align: center;
            }
        }
        .formulario__datos {
            justify-content: center;
            align-content: center;
            .formulario__datos__1 {
              width: 80%;
              overflow: hidden;
            }
          } 
    }
}
@media(min-width:992px){
    .header {
        .navbar .inicio{
            display: none;
        }
    }
}
//Btns 

.btn-1 {
    display: inline-block;
    background-color: #dab200;
    color: white;
    padding: 13px 35px;
    border-radius: 30px;
    text-transform: capitalize;
    &:hover {
        background-color: #8a00da;
    }
}
.btn-1-verde {
    display: inline-block;
    background-color: #dab200;
    color: white;
    padding: 13px 35px;
    border-radius: 30px;
    text-transform: capitalize;
    &:hover {
        background-color: #00da12;
    }
}
.btn-2 {
    display: inline-block;
    padding: 8px 17px;
    margin: 20px 0 0 0 ;
    border-radius: 30px;
    background-color: #8a00da;
    color: white;
    transition: background-color 1s;
    &:hover {
        background-color: #c35aff;
    }
}
hr {
    width: 100%;
    border: 2px solid $c-principal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

//Views

//INDEX


.aviso-index {
    display: grid;
    margin: 0 auto;
    width: 100%;
    .aviso-index-txt {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-self: center;
        text-align: center;
        h2{
            color: white;
        }
        h3{
            color: white;
        }
        a {
            text-decoration: none;
            color: $c-principal;
            &:hover {
                color: #dea5ff;
            }
        }
    }
}
.producciones {
    margin: 0 auto;
    width: 100%;
    h2{
        color: $c-principal;
        text-align: center;
    }
    .producciones-iframes {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
}
@media (max-width:374px) {
    .producciones {
        display: none;
    }
}

//PRODUCTOS
.products {

    padding: 70px 0 0 0;
    text-align: center;
    margin-bottom: 20px;
    
    
    h2 {
        color: #dab200;
        font-size: 35px;
        margin-bottom: 35px;
    }
    img {
        width: 250px;
        justify-self: center;
        align-self: center;
    }
    
    .products-content {
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:35px;

        .product {
            display: grid;

            transition: background-color 1s;
            width: 80%;
            border-radius: 30px;
            justify-content: center;
            justify-self: center;
            padding: 40px;
            &:hover {
                background-color: #575757;
            }  

            .product-txt {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            h3 {
                font-size: 20px;
                color: white;
                margin: 15px 0 15px 0;
            }
            .product-txt-parrafo {
                font-size: 16px;
                color: white;
                margin-bottom: 15px;
            }
            ul li {
                font-size: 16px;
                color: white;
            }
            .precio {
                color: #dab200;
                font-size: 20px;
                margin: 15px 0 15px 0;
                font-weight: bold;
            }
        }
    }

}
@media(max-width:991px){
    .products {
        padding: 30px;
        .products-content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.services {
    margin: 0 0 0 0;
    padding: 70px 0;
    background-color:#EBEFF1 ;
    text-align: center;

    h2 {
        color: #2D343C;
        margin: 0 0 40px 0;
        
    }
    h3 {
        font-size: 0px;
        color: #2D343C;
        margin: 20px 0 20px 0;
    }
    .service {
        background-image: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 35px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        .services-content {
            padding: 20px 0 20px 0;
        }

        
        p {
            font-size: 16px;
            color: #575757;
            margin: 20px 0 0 30px;
            
        }
        img {
            width: 250px;
            min-width: 200px;
            min-height: 50px;
        }
    }
}
@media(max-width:991px){
    .services {
        padding: 30px;
        margin:0;
        .services-content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

// NOSOTROS 

.nosotros-despedida {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    
    .nosotros-despedida-txt {
        display: grid;
        width: 100%;
        text-align: center;
        h2{
            text-align: center;
            color: $c-principal;
        }
        h3 {
            text-align: center;
            color: $c-principal;
        }
        p {
            margin: 30px 0 0 0;
            color: white;
            font-size: 14px;
            width: 100%;
            align-self: center;
        }
    }
}

@media(max-width:991px){
    .nosotros-despedida{
        min-height: 0vh;
        .menu {
            padding: 20px;
            .logo {
                display: none;
            }
            label {
                display: initial;
            }
            .navbar {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: #2D343C;
                display: none;
                ul li {
                    width: 100%;
                }
            }

        }
        .header-content{

            padding: 100px 30px;

            .header-txt {

                padding: 0;
                max-width: 500px;
                min-width: 300px;
            }
        }
        
    }
}    


// CONTACTO HTML 

.contacto__formulario {
    padding: 20px;
    z-index: 1;
    display: grid;
    flex-direction: column;
    justify-self: center;
    border-radius: 8px;
    box-shadow: $sombra;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #2D343C;
    .form-item {
      display: flex;
      flex-direction: column;
      label {
        font-weight: bold;
        margin-bottom: 5px;
      }
      input, textarea {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
    h2 {
      text-align: center;
      color: $c-principal;
      margin: 10px 0 20px 0;
    }
    form {
      display: grid;
      gap: 10px;
      color: white;
      button {
        background-color: $c-principal;
        color: #000000;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        &:hover {
          background-color: $c-principal-opaco;
        }
      }
    }
  
  }