<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Ghetto Life</title>
    <link rel="shorcut icon" href="../images/GLM.png">  
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&display=swap" rel="stylesheet"> 
    <meta name="description" content="Un poco de la Historia de Ghetto Life Muzik en Santiago de Chile, Cerro Navia.
    La autogestion en sus eventos.">
    <meta name="keywords" content="HTML, JS, ESTUDIO, PRODUCCION MUSICAL, SANTIAGO, CERRO NAVIA, CHILE, NOSOTROS, GHETTO LIFE">
</head>
<body>
    <header class="header header-nosotros">

        <div class="menu container">
           <a href="../index.html" class="logo"> <img src="../images/GLM.png" width="84px" alt="logo ghetto life"></a>
           <input type="checkbox" id="menu"/>
           <label for="menu">
            <img src="../images/menu.png" class="menu-icono" alt="imagen menu">
           </label>
           <nav class="navbar">
              <ul>
                <li><a href="./productos.html#lista-1">Productos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
              </ul>
           </nav>
           <div>
               <ul>
                   <li class="submenu">
                       <img src="../images/car.svg" id="img-carrito" alt="carrito">
                       <div id="carrito">
                           <table id="lista-carrito">
                              <thead>
                                  <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                  </tr>
                              </thead>
                              <tbody></tbody>
                           </table>
                           <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                       </div>
                   </li>
               </ul>
           </div>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>Nosotros</h1>
                <p>
                    Desde el 2015 que empezamos nuestro camino como estudio musical 
                    de producción independiente generando muchas instancias colaborativas con el ghetto 
                    y su gente. Trabajamos en la cultura haciendo eventos en zonas de conflicto compartiendo 
                    con gente de todas las edades y sectores de santiago, desde cantantes,bailarines,dj's. 
                    En paralelo en esos mismos años el estudio de grabación estaba en sus primeros pasos 
                    comenzando con trabajos para artistas del sector y con el grupo Carma Crew. 
                </p>
                <p>
                </p>
                <a href="#" class="btn-1">Seccíon Menú</a>
            </div>
        </div>
    
    </header>

    <section class="nosotros-despedida container">
        <div class="nosotros-despedida-txt container">
            <h2><i>Cambiando el Ghetto</i></h2> <h3><i>no saliendo de el..</i></h3> 
                <p>El estudio fue creciendo díaramente gracias a la confianza que se fue depositando poco a poco en Ghetto Life y por la constante retroalimentación que se genera 
                en el espacio. Nos hemos encargado de que ghetto life sea un espacio donde el aprendizaje y el crecimiento sea nuestra identidad y donde sus preferencias sean 
                escuchadas.
                </p>
    </section>

    <footer class="footer container">

        <div class="link">
            <h3>Redes Sociales y Links</h3>
            <ul>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="https://www.instagram.com/ghettolifemuzik/">Instagram</a></li>
                <li><a href="https://wa.me/56954762733">Whatsapp</a></li>
                <li><a href="https://www.youtube.com/@GhettoLifeMuzik">Youtube</a></li>
            </ul>    
        </div>

        <div class="link">
            <h3>Productor Zhelo Beats</h3>
            <ul>
                <li><a href="https://www.instagram.com/zhelobeats/">Instagram</a></li>
                <li><a href="https://www.youtube.com/@zhelobeats">Youtube</a></li>
                <li><a href="https://open.spotify.com/intl-es/artist/0z4iml98Ook7FRBGi5uVKt?si=JQxauFfJTYGHlBisgNxdSg">Spotify</a></li>
                <li><a href="https://youtu.be/LERsTeNRCcU?si=StQ8PdI85c3RCLuv">Playlist Trabajos</a></li>
            </ul>    
        </div>
    </footer>

    <script src="../js/main.js"></script>
</body>
</html>